
  <!DOCTYPE html>
  <html>
  <head>
      <title>Home Page</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <link rel="stylesheet" href="static/css/main.css"/>
      <link rel="stylesheet" href="static/css/first.css"/>
      <link rel="script" href="static/css/first.js"/>
      
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
      
      
  </head>
  <body>
  
    <!-- <div class="container-fluid text-center top-container">
          <img src="https://d3bzyjrsc4233l.cloudfront.net/news/TCS.png" height="200px" width="450px">
      </div>--> 
     
<form action="{{url_for('second')}}" method="POST">
    <div class="container">
      <div class="animation-container">
        <div class='wave-container'>
            <div class='wave'></div>
            <div class='wave'></div>
            <div class='wave'></div>
            <div class='wave'></div>
            <div class='wave'></div>
            <div class='wave'></div>
            <div class='wave'></div>
            <div class='wave'></div>
            <div class='wave'></div>
            <div class='wave'></div>
            <div class='wave'></div>
            <div class='wave'></div>
            <div class='wave'></div>
            <div class='wave'></div>
            <div class='wave'></div>
            <div class='wave'></div>
            <div class='wave'></div>
            <div class='wave'></div>
            <div class='wave'></div>
            <div class='wave'></div>
            <!-- <div class="white-blocker"></div> -->
        </div><!-- wave-container -->
        <div class="dots-container">
            <div class="pixel"></div>
        </div><!-- dots-container -->
        <div class="shape-container">
            <div class="sc-inner">
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="gaps">
                    <div class="gap"></div>
                    <div class="gap"></div>
                    <div class="gap"></div>
                    <div class="gap"></div>
                </div>
            </div>
        </div><!-- shape-container -->
        <div class="philosophy-container">
            <div class="rw-words">
                <h1>•
                    <span>cloud computing</span>
                    <span>made easy</span>
                    <span>use aws with less work</span>
                    <span>with few steps</span>
                    <span>click the button and fill out </span>
                    <span>happy cloud computing !!!</span>
                </h1>
            </div>
            <br>
            <br>
      <center><button type="submit" class="btn btn-outline-dark">click here !!!</button></center>
            <canvas id="canvas" width="200" height="200">
                <svg class="svgrgb" viewBox="0 0 200 200">
                <path id="circle-path" d="M10,100a90,90 0 1,0 180,0a90,90 0 1,0 -180,0"/>
                <path id="rect-path" d="M10,10 180,10 180,190 10,190 10,10" />
                <path id="triangle-path" d="M100,40 170,160 30,160 100,40" />
                </svg>
            </canvas>
        </div><!-- nametext-container -->
    </div> 
      </div>
    </div>
    </form>
    
      
      </body>
  </html>

    